.judul{
    text-align: center;
    margin: 15px;
    padding: 2px;
}

.content{
    padding: 40px;
}

.card-header{
    color: white;
    background-color: rgb(73, 109, 109);
    text-align: center;
}

.table{
    text-align: center;
}